@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");

:root {
  --bgr: #0d0d0d;
  --bgra: rgba(13, 13, 13, 0.8);
  --accent: #ffffff;
  --accentr: #d90404;
  --pdcentr: #a80808;
  --pdcent: #d9d9d9;
}

a {
  user-select: none;
}

body {
  font-family: "Noto Sans KR";
  background-color: var(--bgr);
  margin: 0;
  padding: 0;
}

header {
  font-family: "Noto Sans KR";
  font-weight: 700;
  background-color: var(--bgra);

  display: grid;
  position: fixed;
  align-items: center;

  top: 0;
  left: 0;
  z-index: 998;

  max-width: 100%;
  width: 100%;
  min-width: 375px;
  max-height: 10vh;
  height: 7vh;
  border-bottom: 1px solid var(--pdcent);
}

header a {
  text-decoration: none;
  color: var(--accent);

  position: relative;
}

.header-content a::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -4px;
  height: 2px;
  background-color: var(--accentr);
  transform: scaleX(0);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.header-content a.active::after {
  transform: scaleX(1);
}

.header-content {
  display: grid;
  align-items: center;
  grid-template-columns: 0.1fr repeat(10, 0.2fr) 0.1fr;
  grid-template-rows: auto;
}

/* header */

.archive-header {
  grid-column: 9 / 10;
  justify-self: center;
}

.products-header {
  justify-self: center;
}

.profile-header {
  width: 40px;
  height: 40px;
  border-radius: 50%;

  overflow: hidden;
  justify-self: center;
}

.profile-header img {
  width: 50px;
  object-fit: cover;
}
/*  */

.correct-web-shop-ea {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  margin-top: 10vh;
  margin-bottom: 8vh;
}

/* cards */
.content-shop-card {
  height: fit-content;

  gap: 5vw;
  width: 80%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.two-cards {
  display: flex;
  flex-direction: row;

  gap: 8vw;
  width: fit-content;
}

.card {
  height: 420px;
  width: 370px;
  background: #383838;

  object-fit: hidden;

  p {
    color: var(--accent);

    margin: 0;
  }
}

.card img {
  width: 100%;
}
/*  */

/* footer */
footer {
  display: flex;
  justify-content: center;
  max-width: 100%;
  min-width: 375px;
  min-height: 150px;
  max-height: 150px;

  border-top: 1px solid var(--accent);
  color: var(--accent);
}

.footer-max-min {
  width: 50%;
}

.footer-content-block {
  display: grid;
  grid-template-columns: repeat(5, 0.5fr);
  grid-template-rows: repeat(4, 0.5fr);

  width: 100%;
}

.footer-x-item {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  justify-self: end;
}

.footer-tg-item {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  justify-self: center;
}

.footer-youtube-item {
  grid-column: 4 / 5;
  grid-row: 2 / 3;
  justify-self: start;
}

.footer-content-block > p {
  margin: 0;

  justify-self: center;
  grid-row: 4 / 5;
  grid-column: -4 / -3;
}

/*  */

/* archive */
.archive {
  margin-top: 20vh;
}

.vhh-search {
  display: flex;
  justify-content: center;

  width: 100%;
}

.search {
  width: 350px;
  height: 40px;
  border-radius: 50px;

  box-sizing: border-box;
  padding: 5px 15px;

  background: var(--bgr);
  border: 1px solid var(--accent);

  user-select: none;
  color: var(--pdcent);
}
/*  */

/* modal */
.modal {
  display: none; 
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  align-items: center;
  justify-content: center;
  overflow-y: auto;

  transition: opacity .3s, visibility .3s;

  /* visibility: hidden;
  opacity: 0; */
}

.modal-content {
  background-color: var(--bgr);
  max-width: 60%;
  border-radius: 15px;
  position: relative;
  overflow: hidden; 
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

.modal-body {
  display: flex;
  flex-direction: row; 
}

.modal-image {
  flex: 1;
  background-color: #f4f4f4;
}

.modal-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.modal-info {
  flex: 1;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.modal-info h2 {
  margin-top: 0;
  font-size: 42px;
  margin: 0;

  color: var(--accent);
}

.price {
  font-size: 20px;
  font-weight: bold;
  color: var(--accent);
  margin: 10px 0;
}

.modal__description {
  color: var(--accent);
  line-height: 1.6;
  margin-bottom: 25px;

  hyphens: auto;
}

/* купить */
.buy-btn {
  background-color: var(--pdcentr);
  color: var(--pdcent);
  border: none;
  padding: 15px 25px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.4s;
}

.buy-btn:hover {
  background-color: var(--accentr);
  color: var(--accent);
}

/* zакрыть */
.close-btn {
  position: absolute;
  right: 15px;
  top: 10px;
  font-size: 28px;
  cursor: pointer;
  z-index: 10;
  color: var(--accent);
}

/* адапт */
@media (max-width: 600px) {
  .modal-body {
    flex-direction: column;
  }

  .modal-image {
    height: 250px;
  }

  .modal-info {
    padding: 20px;
  }
}
/*  */
/* 
.modal.open {
  visibility: visible;
  opacity: 1;
} */